<template>
  <v-app-bar app color="primary" dark>
    <v-img
      :src="require('@assets/icons/logo.png')"
      alt="dirtree Logo"
      class="shrink mr-2"
      contain
      transition="scale-transition"
      width="40"
    />

    <v-toolbar-title class="app-header__title">dirtree</v-toolbar-title>

    <v-spacer></v-spacer>

    <div class="app-header__version">v{{ version }}</div>
  </v-app-bar>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

// Utilities
import config from "@/config";

@Component
export default class TheAppHeader extends Vue {
  version = config.version;
}
</script>

<style lang="scss" scoped>
.app-header__title {
  font-size: 160%;
  font-weight: 300;
}

.app-header__version {
  margin-right: 16px;
  opacity: 0.5;
}
</style>
