<template>
  <div
    v-shortkey.once="{
      debug: ['ctrl', 'shift', 'alt', 'd'],
      media: ['ctrl', 'shift', 'alt', 'm'],
    }"
    @shortkey="onDebugKey"
  >
    <!-- Indicate current media query breakpoint -->
    <div v-if="isBreakpointVisibleInEnv" class="size-indicator">
      <div v-if="$vuetify.breakpoint.xsOnly">xs</div>
      <div v-else-if="$vuetify.breakpoint.smOnly">sm</div>
      <div v-else-if="$vuetify.breakpoint.mdOnly">md</div>
      <div v-else-if="$vuetify.breakpoint.lgOnly">lg</div>
      <div v-else-if="$vuetify.breakpoint.xlOnly">xl</div>
    </div>

    <v-dialog v-model="isDebugDialogShown" width="550">
      <v-card>
        <v-card-title>
          App Config
          <v-btn class="ml-auto" icon @click="isDebugDialogShown = false">
            <v-icon>{{ icons.mdiClose }}</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <pre class="config-dialog__config">{{ config }}</pre>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mdiClose } from "@mdi/js";

// Utilities
import config from "@/config";
import { StorageService } from "@services";

@Component
export default class TheDebugHelper extends Vue {
  config = config;
  isBreakpointVisible = false;
  isDebugDialogShown = false;

  icons = { mdiClose };

  get isBreakpointVisibleInEnv(): boolean {
    return !config.production && this.isBreakpointVisible;
  }

  created(): void {
    window.addEventListener("beforeunload", this.onUnload);
  }

  mounted(): void {
    this.isBreakpointVisible = StorageService.getMediaQueryVisibility();
  }

  /**
   * Shortkey handler
   *
   * @param event Triggered shortkey event
   */
  onDebugKey(event: any): void {
    switch (event.srcKey) {
      case "debug":
        this.isDebugDialogShown = !this.isDebugDialogShown;
        break;
      case "media":
        this.isBreakpointVisible = !this.isBreakpointVisible;
        break;
      default:
        break;
    }
  }

  /**
   * Store media query visibility when closing window
   */
  onUnload(): void {
    StorageService.setMediaQueryVisibility(this.isBreakpointVisible);
  }
}
</script>

<style lang="scss" scoped>
.config-dialog__config {
  overflow-x: auto;
}

// Media query size indicator
.size-indicator {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 4px 16px;
  background-color: #efefef;
  border: 1px solid #bdbdbd;
  border-top-right-radius: 8px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  opacity: 0.8;
}
</style>
