<template>
  <div class="home">
    <h1>dirtree</h1>
    <h2>Coming Soon!</h2>
    <img alt="Vue logo" src="../assets/icons/logo.png" width="100" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {},
})
export default class Home extends Vue {}
</script>

<style lang="scss" scoped>
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
</style>
