<template>
  <v-app>
    <TheAppHeader />

    <v-main>
      <router-view />

      <TheAppSnackbar />
      <TheDebugHelper />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

// Components
import {
  TheAppHeader,
  TheAppSnackbar,
  TheDebugHelper,
} from "@components/single";

@Component({
  components: {
    TheAppHeader,
    TheAppSnackbar,
    TheDebugHelper,
  },
})
export default class App extends Vue {}
</script>
